@import './variebls';

.MuiPaper-elevation{
    background-color: $light_grey !important;
}


.MuiButtonBase-root{
    a{
        color: white !important;
        &:hover{
            color: $yellow !important;
        }
    }
    &:hover{
        color: $yellow !important;
    }

}
.bootom_nav{
    display: none;
}



.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px !important;
     i{
                font-weight: bold;
                font-size: 22px;
            }
    nav{
      
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
        .logo{
            
            margin-right: 25px;
        }
    }
    .menu{
        display: flex;
    
        align-items: center;
        gap: 1.2vw;
        
        li{
            li{
                &:hover{
                    background-color: transparent !important;
                }
                &:active {
                    background-color: transparent !important;
                }
            }
            
        }
        a{
            color: white;
            height: 40px;
            cursor: pointer;
            line-height: 40px;
            margin: 0;
            padding: 0 10px;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            font-family: Poppins;
            &:hover{
                color: $yellow;
            }
        }
        .active{
            color: $yellow;

        }
    }
    .navbar__menu{
        flex-grow: 1.2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        .search{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            height: 40px;
            background-color: $white;
            border-radius: 8px;
            align-items: center;
            padding: 6px  10px;
            a{
                height: 26px;
                line-height: 26px;
                font-size: 11px;
                background: #e9daff;
                color: $indigo;
                padding: 0 6px;
                border-radius: 6px;
                text-transform: uppercase;
                &:hover{    
                    background: $indigo;
                    color: #e9daff;
                }

            }
            input{
                color: #111;
                
                font-size: 16px;
                font-weight: 400;
                background: #fff;
                margin-left: 5px;
                outline: none;
                border: none;
                height: 100%;
                
                &::placeholder{
                    opacity: .6;
                }
            }

            button{
                background-color: transparent;
                border: none;
                width: 40px;
                height: 40px;
                color: $black;
                i{
                    font-size: 16px;
                }
            }
        }

        .mode_t{
            button{
                font-size: 15px;
                align-items: center;
                font-weight: 700;
                background-color: transparent;
                color: $white;
                gap: 10px;
                display: flex;
                outline: none;
                border: none;
            }
        }
    }



}

/* Navbar.css */
.submenu {
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden; /* Sub-menu ni ko'rinmas qilish */
  }
  
.submenu.open{
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Sub-menu ko'rinadigan bo'ladi */
}
.dark_mode{
    background-color: $indigo_white !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;

    transition: all 1s;
    right:  0;
    transform: translateX(100%) translateY(-100%) scale(0);
    z-index: -9999;
    border-radius: 100%;
    z-index: -1;
    
}
.open_dark{
    border-radius: 0%;
    right: 0;
    transform: translateX(0%)translateY(0%) scale(1);
    transition: all 1s;
}

.side_nav .MuiDrawer-paperAnchorLeft{


    background: rgba(255, 255, 255, 0.11)  !important;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.388);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(12.2px);


    
}
.side_bar_in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:260px !important;
    padding-top: 10px;
    
    .close_side_btn{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        background-color: $light_grey;
        margin-left: 15px;
        i{
            
            font-weight: 900;
            color: $white;
            font-size: 20px;

        }
    }
    .link_btn{
        width: 100%;
        padding: 10px 15px;
        color: $white;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: 500;

        &:hover{
            color: $yellow;
        }
    }
    .inner_nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;   
         
        .types{
            width: 100%;
            border-top: 1px solid #3f3f3f;
            border-bottom: 1px solid #3f3f3f;
            
            h3{
                color: $white;
                padding: 10px 15px;
                cursor: pointer;
                transition: all .4s;
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                &:hover{
                    color: $yellow;

                }
            }

            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 15px 10px;
                li{
                    width: 100px;
                    padding: 6px 10px;
                    background-color: #3f3f3f;
                    margin: 0 2px 6px 0;
                    border-radius: 5px;
                    &:hover a{
                        color: $yellow;
                    }
                    a{
                        transition: all .4s;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: white;
                        font-weight: 500;
                    }
                }
            }

        }
        .side_menu_links{
            display: flex;
            flex-direction: column;
            width: 100%;
            a{
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                text-transform: capitalize;
                color: white;
                font-weight: 500;
                margin: 0 0 10px;
                width: 100%;
                
                transition: all .4s;
                border-bottom: 1px solid $light_grey;
                &:hover{
                    color: $yellow;
                }
            }

        }
        .genres_side_nav{
            width: 100%;
            
            border-bottom: 1px solid #3f3f3f;
            
            h3{
                color: $white;
                padding: 10px 15px;
                cursor: pointer;
                transition: all .4s;
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                &:hover{
                    color: $yellow;

                }
            }

            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 15px 10px;
                li{
                    width: 100px;
                    padding: 6px 10px;
                    background-color: #3f3f3f;
                    margin: 0 2px 6px 0;
                    border-radius: 5px;
                    &:hover a{
                        color: $yellow;
                    }
                    a{
                        transition: all .4s;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: white;
                        font-weight: 500;
                    }
                    span{
                        transition: all .4s;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: $yellow;
                        font-weight: 900;
                    }
                    &:hover span{
                        color: $white;
                    }

                }
            }

        }

    }
    
   
}
